<h5>Welcome!</h5>
<p>В этом приложении Вы можете найти некоторые примеры кода, которые показались мне не совсем тривиальными</p>
<h6>О себе</h6>
<p><b>Lead Software Engineer</b></p>
<p><b>Опыт работы:</b> 2015 - н.в.</p>
<p><b>Образование:</b> высшее-техническое, полное (СГАУ им. академика С.П. Королева, специальность 'Информатика и
	вычислительная техника')</p>
<p>Преподавал прикладные программные дисциплины на внутренних курсах компании (frontend) и 1 год в ВУЗе (Java SE/EE)</p>
<h6>Стек</h6>
<ul>
	<li>HTML, CSS (LESS, SCSS)</li>
	<li>JavaScript, Typescrpt</li>
	<li>AngularJs (когда-то давно), Angular 2+, RxJs</li>
	<li>React, NextJs MUI</li>
	<li>Webpack Module Federation</li>
</ul>
<h6>Компетенции</h6>
<ul>
	<li>Agile</li>
	<li>Управление командой до 7 человек</li>
	<li>Планирование процессов разработки</li>
	<li>Декомпозиция, оценка и приоритезация задач</li>
	<li>Найм, онбординг и обучение сотрудников</li>
	<li>Проектирование архитектуры frontend части приложений</li>
	<li>Ведение технической документации</li>
	<li>Подготовка тренингов по использованию разрабатываемых ИС</li>
</ul>
<h6>Проекты</h6>
<ul>
	<li><b>2015:</b> <i>(Software Engineer)</i> Разработка системы мониторинга виртуальных сетей (Java, GWT)</li>
	<li><b>2016-2017:</b> <i>(Software Engineer)</i> Разработка внутреннего UI Kit компании</li>
	<li><b>2016-2018:</b> <i>(SeniorSoftware Engineer)</i> Разработка административных интерфесов и B2B портала <a
			href="https://www.bechtle-clouds.com/">Bechtle-clouds</a> (AngluarJs, LifeRay)
	</li>
	<li><b>2018-2021:</b> <i>(Lead Software Engineer)</i> Разработка высоконагруженого административного интефрейса для
		B2B
		портала (Angular 2+, NgRx)
	</li>
	<li><b>2021-2023:</b> <i>(Lead Software Engineer)</i> Разработка ядра Low-code платфомы для динамического построения
		интерфейсов (Angular 2+,
		tailwindcss более
		350
		пользователей)</li>
	<li><b>2023-н.в.:</b> <i>(Lead Software Engineer)</i> Разработка продуктового портала и архитектуры его отдельных
		частей
		(React, NextJs, StrapiCMS)
	</li>
</ul>