<div class="app">
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>DMLY Angular Showcase</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-container">
    <mat-sidenav class="app-sidenav" #snav [mode]="isMobile ? 'over' : 'side'" [opened]="isDesktop"
      [fixedInViewport]="isMobile" fixedTopGap="60">
      <mat-nav-list>
        @for (navItem of navItems; track navItem.title) {
        <a mat-list-item [routerLink]='navItem.path' [activated]="router.url === navItem.path">
          {{navItem.title}}
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>